body {
  font-family: sans-serif;
}
h1,
h5 {
  text-align: center;
  color: blue;
}
h2,
h6 {
  text-align: center;
}
form {
  text-align: left;
  padding: 20px;
}
button {
  display: block;
  margin: 0px auto;
  border: 1px solid blue;
  border-radius: 10px;
  background: blue;
  color: white;
  font-size: small;
  font-weight: bolder;
  padding: 6px 6px;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
.row {
  text-align: center;
}
.day {
  text-align: left;
}
.temperature {
  text-align: right;
}
.simple-weather-app {
  border: 1px solid black;
  padding: 30px;
  border-radius: 30px;
  color: black;
  background: burlywood;
}
.wrapper {
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
span.value {
  position: relative;
  font-size: 16px;
  top: -15px;
}
span.value2 {
  position: relative;
  font-size: 16px;
  top: -15px;
}
strong {
  font-size: 40px;
  line-height: 1px;
}
